@import './var.scss';

@font-face {
  font-family: NotoSansSC;
  src: url('../assets/font/NotoSansSC-Light.otf');
}

html,
body {
  // width: 100%;
  margin: 0;
  padding: 0;
  // font-family: NotoSansSC;
}

#app {
  color: rgb(48 49 51);
  width: 100%;
}
