@import './var.scss';

@font-face {
  font-family: NotoSansSC;
  src: url('../assets/font/NotoSansSC-Light.otf');
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  // font-family: NotoSansSC;
}

#app {
  color: rgb(48 49 51);
  width: 100%;
}

a {
  color: rgb(48 49 51);
  text-decoration: none;
}

article {
  img {
    max-width: 100%;
  }
}

/* 修改谷歌浏览器记住密码后改变input框颜色 */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  // -webkit-text-fill-color: #fff !important;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  box-shadow: 0 0 0 1000px transparent inset !important;
  background-color: transparent;
  background-image: none;
  transition: background-color 50000s ease-in-out 0s;
}

.app-iconify + span {
  margin-left: 0.2em;
  // vertical-align: middle;
}

.btn-primary {
  background: none;
  color: white;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  font-size: 12px;
  border-radius: 4px;
  padding: 4px 8px;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &:disabled {
    // color: red;
    opacity: 0.5;
  }
}

input {
  padding: 4px 10px;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  box-sizing: border-box;
}

body.full-screen-overlay {
  overflow: hidden;
}
